@import url("../popup/__container/popup__container.css");
@import url("../popup/__close/popup__close.css");
@import url("../popup/__heading/popup__heading.css");
@import url("../popup/__input/popup__input.css");
@import url("../popup/__btn-save/popup__btn-save.css");
@import url('../popup/__image/popup__image.css');
@import url("../popup/_opacity/popup_opacity.css");
@import url("../popup/_opacity/popup_opacity-image.css");

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity, .5s linear, .5s linear;
  -o-transition: visibility 0s, opacity, .5s linear, .5s linear;
  transition: visibility 0s, opacity, .5s linear, .5s linear;
}
