.popup_opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility .5s, opacity .5s linear;
   -o-transition: visibility .5s, opacity .5s linear;
   transition: visibility .5s, opacity .5s linear;
}
