.popup_opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
      -webkit-transition: opacity 1s ease 0s, visibility 0s ease 0s;
      -o-transition: opacity 1s ease 0s, visibility 0s ease 0s;
      transition: opacity 1s ease 0s, visibility 0s ease 0s;
}
