.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url("../../../images/close.png");
  height: 40.7px;
  width: 40.7px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0, 0);
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

@media screen and (max-width: 600px) {
  .popup__close {
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 450px) {
  .popup__close {
    top: -35px;
    right: -35px;
  }
}

.popup__close:hover {
  opacity: .6;
}
