.profile__info {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    margin: 14px auto 36px;
  }
}

@media screen and (max-width: 600px) {
  .profile__info {
    width: 282px;
  }
}
