@import url("../../popup/__input/_username/popup__input_username.css");
@import url("../../popup/__input/_signature/popup__input_signature.css");
@import url("../../popup/__input/_card-name/popup__input_card-name.css");
@import url("../../popup/__input/_card-url/popup__input_card-url.css");
@import url("../../popup/__input/_type/popup__input_type_error.css");

.popup__input {
  padding: 0;
  outline: none;
  height: 26px;
}

input.popup__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}
input.popup__input::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}
input.popup__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}
input.popup__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}
input.popup__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}


@media screen and (max-width: 320px) {
  .popup__input {
    max-width: 200px;
    height: 23px;
  }
  input.popup__input::placeholder {
    font-size: 12px;
    line-height: 15px;
  }
  input.popup__input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 15px;
  }
  input.popup__input::-moz-placeholder {
    font-size: 12px;
    line-height: 15px;
  }
  input.popup__input:-ms-input-placeholder {
    font-size: 12px;
    line-height: 15px;
  }
  input.popup__input::-ms-input-placeholder {
    font-size: 12px;
    line-height: 15px;
  }
}
